{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "none",
  "singleQuote": true,
  "semi": false,
  "editorconfig": false,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSpacing": true
}
