<html>

  <head>
    <style>
      body { font-family: Arial, sans-serif; line-height: 1.6; max-width: 500px; margin: 0 auto; padding: 20px;
      background-color: #f5f5f5; } h2 { color: #007BFF; } p { margin-bottom: 10px; } a { color: #007BFF;
      text-decoration: none; } a:hover { text-decoration: underline; } .container { background-color: #fff;
      border-radius: 4px; padding: 20px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); } .footer { text-align: center;
      margin-top: 20px; color: #888; }
    </style>
  </head>

  <body>
    <div class='container'>
      <h2>Hola {{firstname}}</h2>
      <p>Hemos recibido una solicitud para restablecer la contraseña de tu cuenta. Haz clic
        <span>
          <a href='{{resetLink}}'>aca</a>
        </span>
      </p>
      <p>Si no solicitaste restablecer la contraseña, puedes ignorar este correo electrónico.</p>
      <p>¡Gracias!</p>
    </div>
    <div class='footer'>
      <p>Este correo electrónico fue enviado automáticamente, por favor no responder a este mensaje.</p>
    </div>
  </body>

</html>