<html>
  <head>
    <style>
      body { font-family: Arial, sans-serif; padding: 20px; } div { background-color: #f8f8f8; border: 1px solid #ddd;
      padding: 10px; } h1 { color: #ff0000; } p { margin-bottom: 10px; }
    </style>
  </head>
  <body>
    <div>
      <h1>¡Alguien intentó iniciar sesión en tu cuenta!</h1>
      <p>Hemos detectado un intento de inicio de sesión no autorizado en tu cuenta.</p>
      <p>Fecha y hora: {{date}}</p>
      <p>Si no fuiste tú quien intentó iniciar sesión, te recomendamos que cambies tu contraseña inmediatamente y
        revises la seguridad de tu cuenta.</p>
    </div>
  </body>
</html>